.about-container {
  margin: 40px auto;
  padding: 30px;
  font-family: sans-serif;
  color: #2072AF;
  max-width: 800px;
  border-radius: 20px;


  background-image: url("/src/assets/logoo.png");
  background-size: cover;     
  background-position: center; 
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;


  opacity: 0;
  transform: translateY(20px);
  transition: all 0.6s ease-out;
}


.about-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 248, 255, 0.85); /* فِلتر شفاف */
  border-radius: 10px;
  z-index: -1;
}


.about-container.fade-slide-in {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 600px) {
  .about-container {
    padding: 20px;
    margin: 20px;
  }

  .about-container p, .about-container h1 {
    font-size: 0.95rem;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .about-container {
    padding: 25px;
    margin: 30px;
  }

  .about-container p, .about-container h1 {
    font-size: 1rem;
  }
}

.about-container h1 {
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
}

.about-container hr {
  border-color: #2072AF;
  margin-bottom: 20px;
}

.about-container p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 15px;
}

.about-container .contact {
  font-weight: 700;
  text-align: center;
}

.about-container .contact a {
  color: #2072AF;
  text-decoration: none;
  transition: all 0.3s ease;
}

.about-container .contact a:hover {
  color: #1a5d95;
  transform: scale(1.05);
}



.about-container.fade-slide-in {
  opacity: 1;
  transform: translateY(0);
}

.about-container h1 {
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
}

.about-container hr {
  border-color: #2072AF;
  margin-bottom: 20px;
}

.about-container p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 15px;
}

.about-container .contact {
  font-weight: 700;
  text-align: center;
}

.about-container .contact a {
  color: #2072AF;
  text-decoration: none;
}
.about-container .contact a {
  color: #2072AF;
  text-decoration: none;
  transition: all 0.3s ease;
}

.about-container .contact a:hover {
  color: #1a5d95; 
  transform: scale(1.05); 
}

